{% extends "base.html" %}

{% block content %}
<h1>Darbuotojai</h1>

{% for darbuotojas in visi_darbuotojai %}
    <p>{{ darbuotojas['vardas'] }} {{ darbuotojas['pavarde'] }} dirba: {{darbuotojas.departamentas.pavadinimas}} <p></p>
    <h2><a href="{{ url_for('atnaujinti_darbuotoja', id=darbuotojas['id']) }}"></a></h2>
    <a href="{{ url_for('istrinti_darbuotoja', id=darbuotojas['id']) }}" class='btn btn-danger'>Trinti</a>
    <div>--------------------------------</div>
{% endfor %}
<a href="{{ url_for('sukurti_darbuotoja') }}" class='btn btn-primary'>Sukurti darbuotoja</a>
{% endblock content %}